.root {
  -fx-color: green;
}
.border-pane {
  -fx-background-color: blue;
}
.button {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-text-align: left;
}
.tool-pane{
    -fx-color: blue;
}
